{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Add a Client{% endblock %}

{% block body_block %}

<h1>Add a Client</h1>

<form id="ClientForm" method="post" action="/address_book/add_client/" enctype="multipart/form-data">

    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
        <br />
        <br />
    {% endfor %}

    <input type="submit" name="submit" value="Create Client" />
</form>
{% endblock %}