{% include "job_packet/../base.html" %}
{% load static %}
{% load jalali_tags %}


{% block content %}

 <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid >
    <div>


      <form id="formTwo" method="post" novalidate  class="uk-overflow-auto form_packet">
      {% csrf_token %}
        <div >
            <input name="form_type"  id="job_input" class="input"   style="width: 100%"  placeholder="کار جدید را وارد کنید..." >
            <input type="submit" style="position: absolute; left: -9999px"/>
        </div>
<hr>
    <table class="uk-table uk-table-hover uk-table-small uk-table-divider">

    <thead >
        <tr >
            <th><h4 class="h4">مدت زمان</h4></th>
            <th><h4 class="h4">پایان</h4></th>
            <th><h4 class="h4">شروع</h4></th>
             <th ><h4 class="h4">عنوان کار</h4></th>
        </tr>
    </thead>
    <tbody>



        {% if jobsOfPacket != None %}
            {% for job in jobsOfPacket %}
                <tr>
                {% if job.finish_date != None %}
                <td><p style="direction:rtl">{{ job.diff}}</p></td>
                <td><p style="direction:rtl">{{ job.finish_date | time:"g:i"}}</p></td>
                {% endif %}
                {% if job.finish_date ==  None %}
                <td>.....................</td>
                    <form id="formThree" method="post" novalidate >
                    {% csrf_token %}
                        <td><button class="button_finish" type="submit" value="formThree" name="form_type"> اتمام </button></td></form>
                {% endif %}
                <td ><p style="direction:rtl">

                   <time>{{ job.start_date | time:"g:i"}} </time>
                <td><p style="direction:rtl">{{ job.heading }}</p></td>
<tr>
            {% endfor %}

        {% endif %}
         {% if jobsOfPacket == None %}

         <tr>

           <td>.....................</td>
                    <td>.....................</td>
                <td>.....................</td>
                    <td>.....................</td>
             </tr>

        {% endif %}





    </tbody>
</table>







        </form>
    </div>
    <div>






                   <form id="formOne"  method="post" novalidate  class="form_packets uk-overflow-auto">

                   {%  csrf_token %}
                          <button id="yellow_button" class="button" type="submit" value="formOne" name="form_type" >ایجاد بسته کاری جدید</button>
{#                   {% if packets == None %}#}
<table class="uk-table uk-table-hover uk-table-small uk-table-divider" style="text-align: center">
                    <thead >
        <tr >
{#                               <hr style="color: white">#}

            <th><h4 class="h4_1" id="job_packet_header">  بسته های کاری</h4></th>

        </tr>
    </thead>
    <tbody>

     {% for packet in packets %}
          <tr >
            <td> <a class="p uk-button uk-button-default" href="{% url 'packet_detail' pk=packet.pk %}">{{ packet.pub_date|to_jalali:'%y/%m/%d _ %H:%M:%S' }} </a></td>
   </tr>
        {% endfor %}





{#                <tr>#}
{#                #}
{#                <td><p style="direction:rtl">{{ job.lenght_date}}</p></td>#}
{#                <td><p style="direction:rtl">{{ job.finish_date }}</p></td>#}
{#                {% endif %}#}
{#                {% if job.finish_date == "****" %}#}
{#                <td>.....................</td>#}
{#                    <form id="formThree" method="post" novalidate >#}
{#                    {% csrf_token %}#}
{#                        <td><button class="button_finish" type="submit" value="formThree" name="form_type"> اتمام </button></td></form>#}
{#                {% endif %}#}
{#                <td ><p style="direction:rtl">#}
{##}
{#                   <time datetime="%H:%M">{{ job.start_date }} </time>#}
{#                <td><p style="direction:rtl">{{ job.heading }}</p></td>#}
{#<tr>#}
{#            {% endfor %}#}
{##}
{#        {% endif %}#}
{#         {% if jobsOfPacket == None %}#}
{##}
{#         <tr>#}
{##}
{#           <td>.....................</td>#}
{#                    <td>.....................</td>#}
{#                <td>.....................</td>#}
{#                    <td>.....................</td>#}
{#             </tr>#}
{##}
{#        {% endif %}#}
{##}
{##}



    </tbody>
{#                    <h4 class="h4"> بسته های کاری</h4>#}
{#                   {% endif %}#}
{#    <div>#}
{##}
{#        {% for packet in packets %}#}
{#             <p > <a class="p uk-button uk-button-default" href="{% url 'packet_detail' pk=packet.pk %}">{{ packet.pub_date|to_jalali:'%y/%m/%d _ %H:%M:%S' }}</a></p>#}
{##}
{#        {% endfor %}#}
{##}
{#    </div>#}



</table>

</form>


    </div>
</div>






{% endblock %}
