<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
     <title> سامانه ثبت ساعت عرش </title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.9/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.9/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.9/js/uikit-icons.min.js"></script>

 <link rel="stylesheet"  type="text/css"  href="{% static 'css/aaa.css'  %}">

{#       <link rel="stylesheet"  type="text/css"  href="{% static 'css/aaa.css'  %}">#}
     <link  href="{% static 'bootstrap/node_modules/bootstrap/dist/css/bootstrap.css'  %}"  rel="stylesheet"  media="all" />
     <link  href="{% static 'bootstrap/node_modules/bootstrap/dist/css/pe-icon-7-stroke.css'   %}"  rel="stylesheet"  media="all" />
     <link  href="{% static 'bootstrap/node_modules/bootstrap/dist/css/ct-navbar.css'  %}"  rel="stylesheet"  media="all" />
{#     <link rel="stylesheet"  type="text/css"  href="{% static '' %}"  />#}
{#     <link  rel="stylesheet"  type="text/css"  href="{% static 'css/' %}" />#}


              <script src="/static/bootstrap/node_modules/bootstrap/dist/js/jquery-1.10.2.js" ></script>
              <script src="/static/bootstrap/node_modules/bootstrap/dist/js/bootstrap.js" ></script>
              <script src="/static/bootstrap/node_modules/bootstrap/dist/js/ct-navbar.js" ></script>
    <!-- Bootstrap -->
{#      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">#}

    <link  href="{% static 'bootstrap/node_modules/bootstrap/dist/css/bootstrap.min.css' %}"  rel="stylesheet"  media="all" >

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-ct-blue navbar-fixed-top navbar-transparent" role="navigation">
      <div class="container">
        <div class="navbar-header">
{#          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">#}
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-brand-logo" href="https://www.creative-tim.com">
                <div class="logo">
                    <img src="https://s3.amazonaws.com/creativetim_bucket/new_logo.png">
                </div>
                <div class="brand">  سلام {{ user.username }} , خوش آمدی </div>
              </a>
        </div>




{#       <hr style="padding: 20px ;margin-top: 50px">#}


{#        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
          <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="javascript:void(0)" data-toggle="search">
                            <i class="pe-7s-user"></i>
                            <p>ویرایش حساب کاربری</p>
                        </a>
                    </li>
                 <li>
                        <a href="javascript:void(0)" data-toggle="search">
                            <i class="pe-7s-search"></i>
                            <p>خروج</p>
                        </a>
                    </li>
              {% if user.avatar %}
               <img class="img"  src= " {{ user.avatar }}"  width=5% height=5% >
              {% else %}

               <img class="img"  src="{% static 'images/logo.png' %}"  width=5% height=5% >
              {% endif %}
{#                    <li>#}
{#                        <a href="#">#}
{#                            <i class="pe-7s-mail">#}
{#                            </i>#}
{#                            <p>Messages</p>#}
{#                        </a>#}
{#                    </li>#}
{#              <li>#}
{#                        <a href="#">#}
{#                            <i class="pe-7s-mail">#}
{#                                <span class="label"> 23 </span>#}
{#                            </i>#}
{#                            <p>Messages</p>#}
{#                        </a>#}
{#                    </li>#}
{#            <li class="dropdown" >#}
{#              <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                        <i class="pe-7s-user"></i>#}
{#                        <p>حساب کاربری</p>#}
{#              </a>#}
{#              <ul class="dropdown-menu">#}
{#                <li><a href="#"  >ویرایش اطلاعات</a></li>#}
{#                <li><a href="#">Another action</a></li>#}
{#                <li><a href="#">Something else here</a></li>#}
{#                <li class="divider"></li>#}
{#                <li><a href="#"   >خروج</a></li>#}
{#              </ul>#}
{#            </li>#}
          </ul>

{#        </div><!-- /.navbar-collapse -->#}
          <div align="center">



  <h1 class="h1" align="center"  >سامانه ثبت ساعت عرش</h1>

          </div>


      </div><!-- /.container-fluid -->
    </nav>
<!--  end navbar -->


<div class="uk-container">

            {% block content %}
            {% endblock %}
</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap/node_modules/bootstrap/dist/css/bootstrap.min.css"></script>






</body>
</html>
