<!DOCTYPE html>
{% load static %}

<html lang="fa">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
     <title> سامانه ثبت ساعت عرش </title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.9/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.9/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.9/js/uikit-icons.min.js"></script>

 <link rel="stylesheet"  type="text/css"  href="{% static 'css/aaa.css' %}">

{#       <link rel="stylesheet"  type="text/css"  href="{% static 'css/aaa.css'  %}">#}
     <link href="{% static 'bootstrap/node_modules/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet" media="all" />
     <link href="{% static 'bootstrap/node_modules/bootstrap/dist/css/pe-icon-7-stroke.css' %}" rel="stylesheet" media="all" />
     <link href="{% static 'bootstrap/node_modules/bootstrap/dist/css/ct-navbar.css' %}" rel="stylesheet" media="all" />
{#     <link rel="stylesheet"  type="text/css"  href="{% static '' %}"  />#}
{#     <link  rel="stylesheet"  type="text/css"  href="{% static 'css/' %}" />#}


              <script src="/static/bootstrap/node_modules/bootstrap/dist/js/jquery-1.10.2.js" ></script>
              <script src="/static/bootstrap/node_modules/bootstrap/dist/js/bootstrap.js" ></script>
              <script src="/static/bootstrap/node_modules/bootstrap/dist/js/ct-navbar.js" ></script>
    <!-- Bootstrap -->
{#      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">#}

    <link href="{% static 'bootstrap/node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" media="all" >
{##}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>


<nav class="navbar navbar-sticky navbar-light bg-light" style="background-color: #122b40 ; height: 170px; font-family: B Nazanin" >
{#  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#    <span class="navbar-toggler-icon"></span>#}
{#  </button>#}
{##}
{#  <div class="collapse navbar-collapse" id="navbarSupportedContent" >#}
    <ul class="navbar-nav mr-auto" style="width: 40%;  font-family: B Nazanin" >
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <li>
                        <a href="/logout/">
                            <i class="pe-7s-lock" style="color: yellow;"></i>
                            <p style="color: yellow;">خروج</p>
                        </a>
                    </li>
                    <li>
                        <a href="/profile/" data-toggle="search">
                            <i class="pe-7s-user" style="color: yellow;"></i>
                            <p style="color: yellow;">اطلاعات حساب کاربری</p>
                        </a>
                    </li>

{#              {% if user.avatar %}#}
{#               <img class="img"  src= " {{ user.avatar }}"  width=5% height=5% >#}
{#              {% else %}#}


</div>
    </ul>
<div style="width: 30%; position: fixed; right: 40% ; padding-top: 0px" align="center">
      <a class="navbar-brand" href="http://arsh.co" style="float: right; padding-left: 20%;padding-right: 0%; position: relative; left: 1px;" ><img src="/static/images/logo.png" width="15%"><h3 style="color: yellow">سامانه ثبت ساعت عرش</h3></a>

{#      <h1 style="color: yellow; float: right;  font-family: B Nazanin"></h1>#}
    </div>
    <form class="form-inline my-2 my-lg-0" style="width: 30%">
{#      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
{#      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}

{#        <a class="navbar-brand navbar-brand-logo" href="">#}
                <div style="padding: 20px">
               <img  style="float: right;border: 1px solid #333333;border-radius: 50%; position: fixed ; right: 20px" width="5%" src= "/{{ user.picture }}"  >


{#                    <img src="https://s3.amazonaws.com/creativetim_bucket/new_logo.png">#}
                </div>
                <div  style="direction: rtl;position: relative; right: 100px; color: yellow; font-family: B Nazanin; width: auto" >
 سلام

            ,
<br>


                   {{ user.name }}
                    {{ user.surname }}

<br>
   خوش آمدی


            </div>
{#          </a>#}



    </form>





{#  </div>#}






</nav>
  {% block content %}

    {% endblock %}

</body>
</html>


