<!DOCTYPE html>

<html lang="en">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<style>
body {font-family: B Nazanin;}
form {border: 3px solid #f1f1f1; padding: 20px; position: absolute; right: 400px; left: 400px;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: B Nazanin
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 60%;
    border-radius: 50%;
}

.container {
{#    float: right;#}
{#    position: relative;#}
    padding-right: 16px;
{#    margin-right: 100px;#}
{#    margin-left: 100px;#}
}

.thumbnail {
    position:relative;
    overflow:hidden;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
</style>
</head>

<body>
  <div class="container" style="direction: rtl;font-family: B Nazanin">

    <div id="content-container" class="container p-none"  >
        <div class="lgn-container col-lg-2" >

            <h2 align="center">فرم اطلاعات کاربری</h2>
            <form method="POST" enctype="multipart/form-data" validate>
                {% csrf_token %}
 <label for="id_username" style="direction: rtl"  >حساب کاربری</label>
                        <input required  style="direction: ltr" id="id_username"  name="username"  minlength="10"
                                   type="text" class="form-control" value="{{ user.username }}"  oninvalid="this.setCustomValidity('لطفا حساب کاربری بالای 10 کاراکتر را وارد کنید.')"  oninput="setCustomValidity('')">


                       <label style="direction: rtl" for="id_password">رمز عبور</label>
                        <input required style="direction: ltr" id="id_password" name="password"  minlength="10"
                                   type="password" class="form-control" for="pass" value="{{ user.password }}"  oninvalid="this.setCustomValidity('لطفا رمز عبوربالای 10 کاراکتر را وارد کنید.')"  oninput="setCustomValidity('')">

                <label for="id_name" style="direction: rtl"  >اسم</label>
                        <input required style="direction: rtl" id="id_name" name="name" minlength="3"
                                   type="text" class="form-control" value="{{ client.name }}"   oninvalid="this.setCustomValidity('لطفا نام را وارد کنید.')"  oninput="setCustomValidity('')">
                <label for="id_surname" style="direction: rtl" >فامیلی</label>
                        <input  style="direction: rtl" id="id_surname" name="surname" minlength="3"
                                   type="text" class="form-control" value="{{ client.surname }}"  oninvalid="this.setCustomValidity('لطفا فامیلی را وارد کنید.')"  oninput="setCustomValidity('')">
                   <label for="id_phonenumber" style="direction: rtl" >شماره همراه</label>
                        <input  style="direction: ltr" id="id_phonenumber" name="phonenumber" maxlength="11"  minlength="11"
                                   type="text" class="form-control" value="{{ client.phone }}"  oninvalid="this.setCustomValidity('لطفا شماره همراه را وارد کنید.')"  oninput="setCustomValidity('')">

                 <label for="id_picture" style="direction: rtl; float: right" >عکس</label>
{#                        <img id="theText" src="/{{ client.picture }}" width="100px" height="100px">#}
{##}

{#                 <label for="id_picture" style="direction: rtl" >عکس</label>#}
{#                        <input id="theText2"  style="direction: ltr" id="id_picture" name="picture"#}
{#                                   type="file" class="form-control" value="{{ client.picture }}" onchange="updateImage" >#}

<img id="img" alt="avatar" style="float: left" src="/{{ client.picture }}" width="150px" height="150px"/>


                <input type="file" style="float: left" name="picture" value="{{ client.picture }}"  id="picture" class="required borrowerImageFile" data-errormsg="PhotoUploadErrorMsg">

{#                {{ form2.as_p }}#}

            <button type="submit">ثبت</button>
            </form>


  </div>

{#  <div class="container" style="background-color:#f1f1f1">#}
{#    <button type="button" class="cancelbtn">Cancel</button>#}
{#    <span class="psw">Forgot <a href="#">password?</a></span>#}
{#  </div>#}
</form>


        </div>
    </div>

</div>


<script>

    $('.thumbnail').hover(
        function(){
            $(this).find('.caption').slideDown(250); //.fadeIn(250)
        },
        function(){
            $(this).find('.caption').slideUp(250); //.fadeOut(205)
        }
    );




function updateImage()
{
     alert("hello1") ;
    var image = document.getElementById("theText2");
    alert("hello") ;
    if(image.complete) {
        var new_image = new Image();
        //set up the new image
        new_image.id = "theText";
        new_image.src = image.src;
        // insert new image and remove old
        image.parentNode.insertBefore(new_image,image);
        image.parentNode.removeChild(image);
    }

    setTimeout(updateImage, 1000);

}
    function changeImage() {

        var s =(document.getElementById("input-file").value);
{#        alert(s);#}
{#        var filename = s.replace('C:\\fakepath\\', '')#}
{#        var t=s.split("\")#}




    document.getElementById("newavatar").src = ("/static/images/profile_pics/")+ s;
}

function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      $('#img').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}

$("#picture").change(function() {
  readURL(this);
});

</script>
</body>
</html>
