{% include "job_packet/../base.html" %}
{% load static %}
{% load jalali_tags %}


{% block content %}

 <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid >

    <div>






                   <form id="formOne"  method="post" novalidate  class="form_packets_2 uk-overflow-auto">

                   {%  csrf_token %}
                          <button id="yellow_button" class="button_2" type="submit" value="formOne" name="form_type" >ایجاد بسته کاری جدید</button>
{#                   {% if packets == None %}#}
<table class="uk-table uk-table-hover uk-table-small uk-table-divider" style="text-align: center">
  {% if packets != None %}

                    <thead >

        <tr >
{#                               <hr style="color: white">#}

            <th><h4 class="h4_1" id="job_packet_header">  بسته های کاری</h4></th>


        </tr>
    </thead>
  {% endif %}

    <tbody>

     {% for packet in packets %}
          <tr >
            <td> <a class="p_2 uk-button uk-button-default" href="{% url 'packet_detail' pk=packet.pk %}">{{ packet.pub_date|to_jalali:'%y/%m/%d _ %H:%M:%S' }} </a></td>
   </tr>
        {% endfor %}





{#                <tr>#}
{#                #}
{#                <td><p style="direction:rtl">{{ job.lenght_date}}</p></td>#}
{#                <td><p style="direction:rtl">{{ job.finish_date }}</p></td>#}
{#                {% endif %}#}
{#                {% if job.finish_date == "****" %}#}
{#                <td>.....................</td>#}
{#                    <form id="formThree" method="post" novalidate >#}
{#                    {% csrf_token %}#}
{#                        <td><button class="button_finish" type="submit" value="formThree" name="form_type"> اتمام </button></td></form>#}
{#                {% endif %}#}
{#                <td ><p style="direction:rtl">#}
{##}
{#                   <time datetime="%H:%M">{{ job.start_date }} </time>#}
{#                <td><p style="direction:rtl">{{ job.heading }}</p></td>#}
{#<tr>#}
{#            {% endfor %}#}
{##}
{#        {% endif %}#}
{#         {% if jobsOfPacket == None %}#}
{##}
{#         <tr>#}
{##}
{#           <td>.....................</td>#}
{#                    <td>.....................</td>#}
{#                <td>.....................</td>#}
{#                    <td>.....................</td>#}
{#             </tr>#}
{##}
{#        {% endif %}#}
{##}
{##}



    </tbody>
{#                    <h4 class="h4"> بسته های کاری</h4>#}
{#                   {% endif %}#}
{#    <div>#}
{##}
{#        {% for packet in packets %}#}
{#             <p > <a class="p uk-button uk-button-default" href="{% url 'packet_detail' pk=packet.pk %}">{{ packet.pub_date|to_jalali:'%y/%m/%d _ %H:%M:%S' }}</a></p>#}
{##}
{#        {% endfor %}#}
{##}
{#    </div>#}



</table>

</form>


    </div>
</div>






{% endblock %}
