<!DOCTYPE html>

<html lang="en">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
</style>
</head>

<body>


    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">




            <h2  style="direction: rtl">فرم ورود</h2>

<form id="login-form" method="post" action="{% url 'login' %}">
{#                  <form class="form-signin" role="form" action="{% url 'login' %}" method="post">#}

{% csrf_token %}
  <div class="imgcontainer">

       {% if user.avatar %}
               <img class="img"  src= " {{ user.avatar }}"   alt="Avatar" class="avatar">
              {% else %}

               <img class="img"  src="https://s3.amazonaws.com/creativetim_bucket/new_logo.png"  alt="Avatar" class="avatar" >
              {% endif %}

  </div>

  <div class="container">
    <label for="id_username"  style="direction: rtl"><b>حساب کاربری</b></label>
    <input type="text" placeholder="Enter Username" id="id_username"  name="username" required>

    <label for="id_password" style="direction: rtl"><b>رمز عبور</b></label>
    <input type="password" placeholder="Enter Password" name="id_password" id="id_password" required>

    <button type="submit">ورود</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

{#  <div class="container" style="background-color:#f1f1f1">#}
{#    <button type="button" class="cancelbtn">Cancel</button>#}
{#    <span class="psw">Forgot <a href="#">password?</a></span>#}
{#  </div>#}
</form>


        </div>
    </div>


</body>
</html>




<!DOCTYPE html>

<html lang="en">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
</style>
</head>

<body>


    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">




            <h2  style="direction: rtl">فرم ورود</h2>

<form id="login-form" method="post" action="{% url 'login' %}">
{#                  <form class="form-signin" role="form" action="{% url 'login' %}" method="post">#}

{% csrf_token %}
  <div class="imgcontainer">

       {% if user.avatar %}
               <img class="img"  src= " {{ user.avatar }}"   alt="Avatar" class="avatar">
              {% else %}

               <img class="img"  src="https://s3.amazonaws.com/creativetim_bucket/new_logo.png"  alt="Avatar" class="avatar" >
              {% endif %}

  </div>

  <div class="container">
    <label for="id_username"  style="direction: rtl" ><b>حساب کاربری</b></label>
    <input type="text" placeholder="Enter Username" id="id_username"  name="username" class="form-control" required>

    <label for="id_password" style=" direction: rtl"><b>رمز عبور</b></label>
    <input type="password" placeholder="Enter Password" name="id_password" id="id_password" class="form-control" required>

{#    <button type="submit">ورود</button>#}
       <input type="submit" value="ورود"
                       class="btn btn-primary pull-right" />
                <input type="hidden" name="next" value="{{ next }}" />
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

{#  <div class="container" style="background-color:#f1f1f1">#}
{#    <button type="button" class="cancelbtn">Cancel</button>#}
{#    <span class="psw">Forgot <a href="#">password?</a></span>#}
{#  </div>#}
</form>


        </div>
    </div>


</body>
</html>
