/*.body{*/
  /*background-image: url("/static/images/bg2.jpg");*/
  /*background-repeat: repeat;*/
  /*background-position: bottom;*/
  /*background-size: 100%;*/
/*}*/
.header {
  font-size: large;
  height: 50px;
  border-bottom: 1px solid black;
  padding: 20px;
}

.h1 {
  float: right;
  color: white;
  font-family: B Nazanin;
  font-weight: bold;
  padding-right: 50px;
}

.image {
  float: right;
  padding: 20px;
  /*padding-right: 50px;*/
  /*padding-left: 50px;*/
  width: 28%;
}

.h4 {
  /*position: relative;*/
  margin-left: 20px;
  margin-right: 20px;
  /*right: 20px;*/
  padding-top: 20px;
  text-align: right;
  direction: rtl;
  font-weight: bold;
  font-family: B Nazanin;
}


.h4_1 {
  /*text-align: center;*/
  direction: rtl;
  font-weight: bold;
  font-family: B Nazanin;
  margin-left: auto;
  margin-right: auto;
  /*right: 20px;*/
  padding-top: 5px;
  text-align: center;
  direction: rtl;
  font-weight: bold;
  font-family: B Nazanin;
}


.p {
  padding: 10px;
  direction: rtl;
  font-size: 14px;
  font-family: B Nazanin;
  text-align: center;
  border: 1px solid black;
  margin: 20px;
}

.button {
  font-weight: bold;
  font-size: large;
  font-family: B Nazanin;
  margin-left: auto;
  margin-right: auto;
  position: relative;
    /*top: 0;*/
  /*position: static ;*/
  top: 10px;
  /*right: 10%;*/
  width: 80%;
  height: 70px;
  text-align: center;
  padding: 10px;
  background-color:#e6b800;

}



.form_packets {
  background-color: white;
  overflow: scroll;
  font-size: large;
  font-family: B Nazanin;
  float: right;
  text-align: center;
  padding: 20px;
  margin: 30px;
  /*margin-left: 10px;*/
  /*margin-right: 20px;*/
  border: 1px solid black;
  /*min-width: ;*/
  max-width: 50%;
  min-width: 40%;

  /*margin-top: 30px;*/
  position: relative;
  top: 5px;
  right: 50px;
  height: 500px;
  resize: vertical;
}
.form_packet {
  background-color: white;
  font-size: large;
  font-family: B Nazanin;
  float: right;
  text-align: right;
  padding: 20px;
  margin-right: 10px;
  border: 1px solid black;
  max-width: 80%;
  min-width: 50%;
  margin-top: 30px;
  /*margin-bottom: 5px;*/
  position: relative;
  top: 5px;
  left: 80px;
  height: 500px;
  width: 700px;
  resize: vertical;
}
.bk{
  background-image: url("/static/images/download.jpg");
  font-size: large;
  font-family: B Nazanin;
  float: right;
  text-align: right;
  padding: 20px;
  margin-right: 100px;
  border: 1px solid black;
  max-width: 100%;
  margin-top: 20px;
  /*margin-bottom:5px;*/
  position: relative;
  height: 500px;
  resize: vertical;
}

.input {
  background-color: white;
  font-size: large;
  font-family: B Nazanin;
  direction: rtl;
  text-align: right;
  max-width: 100%;

  position: absolute;
  top: 0px;
  right: 0px;
  height: 50px;
  resize: vertical;
  border: 1px solid black;
  border-right: none;
  /*border-left: none;*/
  /*border-top: none;*/
  padding: 10px;
}

.button_finish {
  font-size: large;
  font-family: B Nazanin;
  font-weight: bold;
  background-color: #FF4C40;
  width: 100%;
  height: 100%;
}
.form_packets_2{
   background-color: white;
  overflow: scroll;
  font-size: 30px;
  font-family: B Nazanin;
  direction: rtl;
  /*float: right;*/
  text-align: center;
  align-self: center;
  padding: 5px;
  margin: 5px;
  margin-right: auto;
  margin-left: auto;
  /*margin-left: 10px;*/
  /*margin-right: 20px;*/
  border: 1px solid black;
  /*min-width: ;*/
  max-width: 30%;
  min-width: 40%;
  /*width: 40%;*/

  /*margin-top: 30px;*/
  position: relative;
  /*top: 5px;*/
  /*right: 50px;*/
  height: 500px;
  resize: vertical;
}

.p_2 {
  padding: 5px;
  direction: rtl;
  font-size: 70%;
  font-family: B Nazanin;
  text-align: center;
  border: 1px solid black;
  width: 80%;
  /*margin: 20px;*/
}
.button_2 {
  font-weight: bold;
  font-size: large;
  font-family: B Nazanin;
  margin-left: auto;
  margin-right: auto;
  position: relative;
    /*top: 0;*/
  /*position: static ;*/
  top: 10px;
  /*right: 10%;*/
  width: 50%;
  height: 70px;
  text-align: center;
  padding: 10px;
  background-color:#e6b800;

}


/*.topnav {*/
  /*overflow: hidden;*/
  /*background-color: white;*/
/*}*/

/*.topnav a {*/
  /*float: right;*/
  /*display: block;*/
  /*color: #f2f2f2;*/
  /*text-align: center;*/
  /*padding: 14px 16px;*/
  /*text-decoration: none;*/
  /*font-size: 17px;*/
/*}*/

/*.topnav a:hover {*/
  /*background-color: #ddd;*/
  /*color: black;*/
/*}*/

/*.active {*/
  /*background-color: #4CAF50;*/
  /*color: white;*/
/*}*/

/*.topnav .icon {*/
  /*display: none;*/
/*}*/

/*@media screen and (min-width: 970px) {*/
  /*.topnav a:not(:first-child) {display: none;}*/
  /*.topnav a.icon {*/
    /*float: right;*/
    /*display: block;*/
  /*}*/
/*}*/

@media screen and (max-width: 970px) {
  #yellow_button
  {
    font-size:15px;
  }
  #job_packet_header{
    font-size: 15px;
  }
  .p{
    font-size:12px;
     padding: 5%;
    margin: 5%;
    text-align: center;
  }
  .form_packet{
    /*position: fixed;*/
    left:-20px;
    /*right: 15px;*/
    /*right:20px;*/
  }
  .form_packets{
    position: relative;
    right: 5px;
    padding: 5%;
    margin-left: 5%;
  }
  /*.navbar-collapse{*/

    /*font-size: 5px;*/
  /*}*/
  .h4_1{
  margin-left: 5%;
  margin-right: 5%;
    text-align: center;
  }

}

@media screen and (max-width: 700px) {
.navbar-collapse{
  display: block;
}
  .form_packets{
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: 20%;
    padding: 10px;
    width: 50%;
    /*border-right: 1px solid black;*/

    /*align-items:center;*/
  }
  .form_packet {
    position: relative;
    /*align-content: center;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    padding:2px;
    /*width: 50%;*/
  }
  .p{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    font-size: 12px;

  }
  .h4_1{

    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*padding-top: 50px;*/
  }

  .form_packets_2{
    width: 250%;
  }
  .button_2{
    width: 90%;
  }
  .p_2{
    font-size: 50%;
  }

  }


