@import 'colors';
@import 'fonts';
@import 'dimens';

.header{
    font-size: $font_size;
    height:$header_height;
    border-bottom: $border_width solid $border_color;
    padding: $padding;
}


.h1{
    font-family: $font_packet_job ;
    font-weight: bold;
    float: right;
    padding-right: $padding-right_packet ;
}
.image{
    float: left;
    padding-left: $padding-left;
    width: $image_width ;

}
.h4{
    text-align: right;
    direction: rtl;
    font-weight: bold;
    font-family: $font_packet_job ;
}
.h4_1{
    text-align: center;
    direction: rtl;
    font-weight: bold;
    font-family:$font_packet_job ;
}

.p{
    padding: $p_padding;
    direction: rtl;
    font-size: $font_size;
    font-family: $font_packet_job;
    text-align: right;
    border: $border_width solid $border_color;
}

.button{
    font-weight: bold;
    font-size: $font_size;
    font-family: $font_packet_job;
    margin-left:auto;
    margin-right:auto;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: $packet_job_button_width;
    height: $packet_job_button_height;
    text-align: center;
    padding: $packet_job_button_padding;
    background-color:$button_new_packet_job;
}


.form_packet{
    font-size: $font_size;
    font-family: $font_packet_job;
    text-align: right;
    border: $border_width solid $border_color;
    padding: $packet_job_padding;
    max-width: $packet_form_max_width;
    margin: auto;
    margin-top: $packets_form_margin_top;
    position: relative;
    height: $packets_form_height;
    resize: vertical;


}
.input{
    font-size: $font_size;
    font-family: $font_packet_job;
    direction: rtl;
    text-align: right;
    max-width: $input_max_width;
    position: absolute;
    bottom: 0;
    right: 0px;
    height: $input_max_height;
    resize: vertical;
    border: $border_width solid $border_color;
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding: $input_padding;

}

.button_finish{
    font-size: $font_size;
    font-family: $font_packet_job;
    font-weight: bold;
    background-color: $button_finish_color;
    width: $button_finish_width;
    height: $button_finish_height;
}
