$header_height: 50px;
$padding: 20px;
$padding-right_packet: 50px;
$padding-left: 50px;
$image_width: 8%;
$border_width: 1px;
$p_padding: 10px;

$packets_form_padding: 10px;
$packets_form_max_width: 30%;
$packet_form_max_width: 60%;
$packets_form_margin_top: 20px;
$packets_form_height: 500px;
$packet_job_button_width:90%;
$packet_job_padding:10px;
$packet_job_button_height:50px;
$packet_job_button_padding:10px;
$form_margin_top: 20px;
$input_max_width:100%;
$input_max_height:50px;
$input_padding:10px;
$button_finish_width:60%;
$button_finish_height:100%;
$font_size:large;

