.header {
  font-size: large;
  height: 50px;
  border-bottom: 1px solid black;
  padding: 20px;
}

.h1 {
  font-family: B Nazanin;
  font-weight: bold;
  float: right;
  padding-right: 50px;
}

.image {
  float: left;
  padding-left: 50px;
  width: 8%;
}

.h4 {
  text-align: right;
  direction: rtl;
  font-weight: bold;
  font-family: B Nazanin;
}

.h4_1 {
  text-align: center;
  direction: rtl;
  font-weight: bold;
  font-family: B Nazanin;
}


.p {
  padding: 10px;
  direction: rtl;
  font-size: large;
  font-family: B Nazanin;
  text-align: right;
  border: 1px solid black;
}

.button {
  font-weight: bold;
  font-size: large;
  font-family: B Nazanin;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
    /*top: 0;*/
  /*position: static ;*/
  top: 10px;
  right: 10px;
  width: 90%;
  height: 50px;
  text-align: center;
  padding: 10px;
  background-color:#e6b800;

}



.form_packets {
    overflow: scroll;
    font-size: large;
  font-family: B Nazanin;
  float: right;
  text-align: right;
  padding: 20px;
  margin-right: 20px;
  border: 1px solid black;
  max-width: 60%;
  margin-top: 20px;
  position: relative;
  max-height: 500px;
  resize: vertical;
}
.form_packet {
  font-size: large;
  font-family: B Nazanin;
  float: right;
  text-align: right;
  padding: 20px;
  margin-right: 10px;
  border: 1px solid black;
  max-width: 100%;
  margin-top: 20px;
  position: relative;
  height: 500px;
  resize: vertical;
}
.bk{
  background-image: url("/static/images/download.jpg");
  font-size: large;
  font-family: B Nazanin;
  float: right;
  text-align: right;
  padding: 20px;
  margin-right: 100px;
  border: 1px solid black;
  max-width: 100%;
  margin-top: 20px;
  position: relative;
  height: 500px;
  resize: vertical;
}

.input {
  background-color: #609ab6;
  font-size: large;
  font-family: B Nazanin;
  direction: rtl;
  text-align: right;
  max-width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50px;
  resize: vertical;
  border: 1px solid black;
  border-right: none;
  border-left: none;
  border-bottom: none;
  padding: 10px;
}

.button_finish {
  font-size: large;
  font-family: B Nazanin;
  font-weight: bold;
  background-color: red;
  width: 60%;
  height: 100%;
}
