<!DOCTYPE html>
{% load static %}

<html lang="fa">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
     <title> سامانه ثبت ساعت عرش </title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.9/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.9/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.9/js/uikit-icons.min.js"></script>

 <link rel="stylesheet"  type="text/css"  href="{% static 'css/aaa.css' %}">

{#       <link rel="stylesheet"  type="text/css"  href="{% static 'css/aaa.css'  %}">#}
     <link href="{% static 'bootstrap/node_modules/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet" media="all" />
     <link href="{% static 'bootstrap/node_modules/bootstrap/dist/css/pe-icon-7-stroke.css' %}" rel="stylesheet" media="all" />
     <link href="{% static 'bootstrap/node_modules/bootstrap/dist/css/ct-navbar.css' %}" rel="stylesheet" media="all" />
{#     <link rel="stylesheet"  type="text/css"  href="{% static '' %}"  />#}
{#     <link  rel="stylesheet"  type="text/css"  href="{% static 'css/' %}" />#}


              <script src="/static/bootstrap/node_modules/bootstrap/dist/js/jquery-1.10.2.js" ></script>
              <script src="/static/bootstrap/node_modules/bootstrap/dist/js/bootstrap.js" ></script>
              <script src="/static/bootstrap/node_modules/bootstrap/dist/js/ct-navbar.js" ></script>
    <!-- Bootstrap -->
{#      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">#}

    <link href="{% static 'bootstrap/node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" media="all" >
{##}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>


<nav class="navbar navbar-inverse" style="font-family: B Nazanin; position: relative">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <h3 style="color: yellow; top: 10px ; padding: 5px;font-size: 20px; float: right">  سامانه ثبت ساعات عرش</h3>
                <a class="navbar-brand" href="http://arsh.co"  style="float: left"><img src="/static/images/logo.png"  style=" padding:10px;position: absolute;left: 0;top: 10px;height:50px ;width:50px">    </a>

    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active" style="left: 10px"><a href="/logout/">خروج</a></li>
            <li><a href="/profile/">حساب کاربری</a></li>
            <li><a href="/">خانه</a></li>
{#            <li class="dropdown">#}
{#                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Messages <b class="caret"></b></a>#}
{#                <ul class="dropdown-menu">#}
{#                    <li><a href="#">Inbox</a></li>#}
{#                    <li><a href="#">Drafts</a></li>#}
{#                    <li><a href="#">Sent Items</a></li>#}
{#                    <li class="divider"></li>#}
{#                    <li><a href="#">Trash</a></li>#}
{#                </ul>#}
{#            </li>#}
        </ul>
        <form class="navbar-form navbar-left">
{#            <div class="input-group">#}
{#                <input type="text" class="form-control" placeholder="Search">#}
{#                <span class="input-group-btn">#}
{#                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>#}
{#                </span>#}
{#            </div>#}
        </form>
        <ul class="nav navbar-nav navbar-right">
             <div style="padding: 20px">
               <img  style="float: right;border: 1px solid #333333;border-radius: 5px; position: absolute ; right: 20px" width="60px" src= "/{{ user.picture }}"  >


{#                    <img src="https://s3.amazonaws.com/creativetim_bucket/new_logo.png">#}
                </div>
                <div  style="direction: rtl;position: relative; right: 50px; color: yellow; font-family: B Nazanin; width: auto" >
 سلام

            ,
<br>


                   {{ user.name }}
                    {{ user.surname }}

<br>
   خوش آمدی


            </div>
        </ul>
    </div>
</nav>




  {% block content %}

    {% endblock %}

</body>
</html>


