


{% include "base.html" %}
{% load static %}
{#{% load jalali_tags %}#}


{% block content %}



  <form method="POST" enctype="multipart/form-data" align="center"  style="align-items: center ;position: absolute;direction: rtl ; margin-right:auto ; margin-left: auto; height: 600px; width: 70% ;padding: 10px ; font-family: B Nazanin; position: relative;border:1px solid black;" >



            <h2 align="center">فرم کاربری</h2>

{#    <label for="id_username"  style="direction: rtl" ><b>حساب کاربری</b></label>#}
{#    <input type="text" placeholder="Enter Username" id="id_username"  name="username" class="form-control" required>#}
{##}
{#    <label for="id_password" style=" direction: rtl"><b>رمز عبور</b></label>#}
{#    <input type="password" placeholder="Enter Password" name="id_password" id="id_password" class="form-control" required>#}
{#                  <form class="form-signin" role="form" action="{% url 'login' %}" method="post">#}


            <div  style="direction: rtl;width: 80% ;margin-right:9% ; margin-left: 9%; border: 1px solid burlywood; padding: 10px;position: absolute; " align="right">
                {% csrf_token %}
 <label for="id_username" style="direction: rtl" >حساب کاربری</label>
                        <input  style="direction: ltr" id="id_username" name="username"
                                   type="text" class="form-control" value="{{ user.email }}"  oninvalid="this.setCustomValidity('لطفا حساب کاربری بالای 10 کاراکتر را وارد کنید.')"  oninput="setCustomValidity('')">


                       <label style="direction: rtl" for="id_password">رمز عبور</label>
                        <input style="direction: ltr" id="id_password" name="password"
                                   type="password" class="form-control" value="{{ client.password }}"  oninvalid="this.setCustomValidity('لطفا رمز عبوربالای 10 کاراکتر را وارد کنید.')"  oninput="setCustomValidity('')">


                <label for="id_name" style="direction: rtl" >اسم</label>
                        <input  style="direction: rtl" id="id_name" name="name"
                                   type="text" class="form-control" value="{{ user.name }}"  oninvalid="this.setCustomValidity('لطفا نام را وارد کنید.')"  oninput="setCustomValidity('')">

                <label for="id_surname" style="direction: rtl" >فامیلی</label>
                        <input  style="direction: rtl" id="id_surname" name="surname"
                                   type="text" class="form-control" value="{{ user.surname }}"  oninvalid="this.setCustomValidity('لطفا فامیلی را وارد کنید.')"  oninput="setCustomValidity('')">

                   <label for="id_phonenumber" style="direction: rtl" >شماره همراه</label>
                        <input  style="direction: ltr" id="id_phonenumber" name="phonenumber"
                                   type="text" class="form-control" value="{{ user.phone }}" oninvalid="this.setCustomValidity('لطفا شماره همراه را وارد کنید.')"  oninput="setCustomValidity('')">


               <label for="id_picture" style="direction: rtl; float: right" >عکس</label>
{#                        <img id="theText" src="/{{ client.picture }}" width="100px" height="100px">#}
{##}
{#                 <label for="id_picture" style="direction: rtl" >عکس</label>#}
{#                        <input id="theText2"  style="direction: ltr" id="id_picture" name="picture"#}
{#                                   type="file" class="form-control" value="{{ client.picture }}" onchange="updateImage" >#}

<img id="img" alt="avatar" style="float: left" src="/{{ user.picture }}" width="120px" height="120px"/>
                                    <input type="file" style="position:relative;float: right;bottom: 0px" name="picture" value="{{ user.picture }}"  id="picture" class="required borrowerImageFile" data-errormsg="PhotoUploadErrorMsg">




{#  <div class="container" style="background-color:#f1f1f1">#}
{#    <button type="button" class="cancelbtn">Cancel</button>#}
{#    <span class="psw">Forgot <a href="#">password?</a></span>#}

{#  </div>#}




</div>
      <div  style=" position:absolute ;bottom: 0px; margin-right: auto;margin-left: auto">

<button style="position: relative;float: left;padding-right: 5px;bottom: 0px" type="button" onclick="window.location.href='/'" >برگشت</button>
          <button style="position:relative;float: left;bottom: 0px" type="submit"  >ثبت</button>

</div>


</form>


    <script>

    $('.thumbnail').hover(
        function(){
            $(this).find('.caption').slideDown(250); //.fadeIn(250)
        },
        function(){
            $(this).find('.caption').slideUp(250); //.fadeOut(205)
        }
    );




function updateImage()
{
     alert("hello1") ;
    var image = document.getElementById("theText2");
    alert("hello") ;
    if(image.complete) {
        var new_image = new Image();
        //set up the new image
        new_image.id = "theText";
        new_image.src = image.src;
        // insert new image and remove old
        image.parentNode.insertBefore(new_image,image);
        image.parentNode.removeChild(image);
    }

    setTimeout(updateImage, 1000);

}
    function changeImage() {

        var s =(document.getElementById("input-file").value);
{#        alert(s);#}
{#        var filename = s.replace('C:\\fakepath\\', '')#}
{#        var t=s.split("\")#}




    document.getElementById("newavatar").src = ("/static/images/profile_pics/")+ s;
}

function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      $('#img').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}

$("#picture").change(function() {
  readURL(this);
});

</script>

  {% endblock %}




