<!DOCTYPE html>

<html lang="en">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: B Nazanin;}
form {border: 3px solid #f1f1f1; padding: 5%; position: relative; margin-left: auto;margin-right: auto;margin: 7px}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: B Nazanin
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 60%;
    border-radius: 50%;
}

.container {
{#    float: right;#}
{#    position: relative;#}
{#    padding-right: 16px;#}
{#    margin-right: 100px;#}
{#    margin-left: 100px;#}
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
</style>
</head>

<body>
  <div class="container">

    <div id="content-container" class="container p-none"  >
        <div class="lgn-container col-lg-2" >




            <h2 align="center">فرم ورود</h2>

<form id="login" method="POST"  >
{% csrf_token %}

  <div class="imgcontainer">

       {% if user.avatar %}
               <img class="img"  src= " {{ user.avatar }}"   alt="Avatar" class="avatar">
              {% else %}

               <img class="img"  src="https://s3.amazonaws.com/creativetim_bucket/new_logo.png"  alt="Avatar" class="avatar" >
              {% endif %}

  </div>

  <div class="container" style="direction: rtl;">
{#    <label for="id_username"  style="direction: rtl" ><b>حساب کاربری</b></label>#}
{#    <input type="text" placeholder="Enter Username" id="id_username"  name="username" class="form-control" required>#}
{##}
{#    <label for="id_password" style=" direction: rtl"><b>رمز عبور</b></label>#}
{#    <input type="password" placeholder="Enter Password" name="id_password" id="id_password" class="form-control" required>#}
     {% if next %}
                {% if not request.user.is_authenticated %}

     <button style="background-color: red ; direction: rtl" type="text" disabled>ایمیل یا رمز عبور شما اشتباه است </button>
{#    {% else %}#}
{#    <p>Please login to see this page.</p>#}
    {% endif %}
{% endif %}

       <label for="id_username" style="direction: rtl" >حساب کاربری</label>
                        <input  style="direction: ltr" id="id_username" name="username"
                                   type="text" class="form-control">
{#      {% if not request.user.is_authenticated %}#}
{#            #}
{#      {% endif %}#}




                       <label style="direction: rtl" for="id_password">رمز عبور</label>
                        <input style="direction: ltr" id="id_password" name="password"
                                   type="password" class="form-control">

    <button type="submit">ورود</button>
      <a href="/register/"  style="float: right">ثبت نام</a>
{#       <input type="submit" value="ورود"#}
{#                       class="btn btn-primary pull-right" />#}
                <input type="hidden" name="next" value="{{ next }}" style="float: left" />
    <label style="float: left">
      <input type="checkbox" checked="checked" name="remember" > مرا به خاطر بسپار
    </label>

  </div>

{#  <div class="container" style="background-color:#f1f1f1">#}
{#    <button type="button" class="cancelbtn">Cancel</button>#}
{#    <span class="psw">Forgot <a href="#">password?</a></span>#}
{#  </div>#}
</form>

{#        {{ form.non_field_errors }}#}

        </div>
    </div>

</div>
</body>
</html>
