


{% include "base.html" %}
{% load static %}
{#{% load jalali_tags %}#}


{% block content %}



  <div align="center"  style="align-items: center;text-align: center ;position: absolute;direction: rtl ; margin-right:auto ; margin-left: auto; height: 600px; width: 70% ;padding: 10px ; font-family: B Nazanin; position: relative;border:1px solid black;" >



            <h2 align="center">فرم کاربری</h2>

{#    <label for="id_username"  style="direction: rtl" ><b>حساب کاربری</b></label>#}
{#    <input type="text" placeholder="Enter Username" id="id_username"  name="username" class="form-control" required>#}
{##}
{#    <label for="id_password" style=" direction: rtl"><b>رمز عبور</b></label>#}
{#    <input type="password" placeholder="Enter Password" name="id_password" id="id_password" class="form-control" required>#}
{#                  <form class="form-signin" role="form" action="{% url 'login' %}" method="post">#}


            <div method="POST" enctype="multipart/form-data" style="direction: rtl;width: 80% ;margin-right:9% ; margin-left: 9%; border: 1px solid burlywood; padding: 10px;position: absolute; " align="right">
                {% csrf_token %}
 <label for="id_username" style="direction: rtl" >حساب کاربری</label>
                        <input  style="direction: ltr" id="id_username" name="username"
                                   type="text" class="form-control" value="{{ user.email }}" disabled>


                       <label style="direction: rtl" for="id_password">رمز عبور</label>
                        <input style="direction: ltr" id="id_password" name="password"
                                   type="password" class="form-control" value="{{ client.password }}" disabled>

                <label for="id_name" style="direction: rtl" >اسم</label>
                        <input  style="direction: rtl" id="id_name" name="name"
                                   type="text" class="form-control" value="{{ user.name }}" disabled>
                <label for="id_surname" style="direction: rtl" >فامیلی</label>
                        <input  style="direction: rtl" id="id_surname" name="surname"
                                   type="text" class="form-control" value="{{ user.surname }}" disabled>
                   <label for="id_phonenumber" style="direction: rtl" >شماره همراه</label>
                        <input  style="direction: ltr" id="id_phonenumber" name="phonenumber"
                                   type="text" class="form-control" value="{{ user.phone }}" disabled >
                 <label for="id_picture" style="direction: rtl; float: right ;" >عکس</label>
                        <img src="/{{ user.picture }}" width="100px" height="100px" style="float: left ">



{#  <div class="container" style="background-color:#f1f1f1">#}
{#    <button type="button" class="cancelbtn">Cancel</button>#}
{#    <span class="psw">Forgot <a href="#">password?</a></span>#}
{#  </div>#}
</div>

<div  style=" position:absolute;bottom: 0px ; margin-right: auto;margin-left: auto;text-align: center">
<button style=" display:inline-block; bottom: 0px;top: 40%" type="submit" onclick="window.location.href='/edit_profile/'" >ویرایش</button>
<button style="padding-right: 5px; display:inline-block;bottom: 0px " type="submit" onclick="window.location.href='/'" >برگشت</button>
</div>

</div>

  {% endblock %}
